{%extends 'layout.html'%}

{% block container%}
<h1 align='center'>ใส่ข้อมูล</h1>
<form action="AticleThe2" method="POST" >
        {% csrf_token %} 
        <div class= "form-group"> 
                <label for="">ชื่อบทความ</label>
                <input type="text" class="form-control" name="Aticle">
        </div>
        <div class= "form-group"> 
                <label for="">ข้อความ</label>
                <input type="text" class="form-control" name="insideAticle">
        </div>
        <input type="submit" value="ตกลง" class="btn btn-secondary">
</form>
{% endblock %}